<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="SendPath" value="C:\test\test01.txt"/>
    <add key="ReceivePath" value="C:\test\YYYYtest.txt"/>
    <add key="CameraPresetPath" value="C:\Users\dev1116\Desktop\settings\presetMoveReg.csv"/>
    <add key="SensorPath" value="C:\test\SensorSettings\"/>
    <add key="LogPath" value="C:\test\Logger.txt"/>
    <add key ="MyNum" value="0"/>
  </appSettings>
</configuration>
