<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="SendPath" value="I:\test\test01.txt"/>
    <add key="ReceivePath" value="I:\test\YYYYtest.txt"/>
    <add key="SettingPath" value="I:\test\Settings.txt"/>
    <add key="CameraPresetPath" value="C:\Users\DaiwaHozen\Desktop\settings\presetMoveReg.csv"/>
    <add key="SensorPath" value="I:\test\SensorSettings\"/>
    <add key="LogPath" value="I:\test\Logger.txt"/>
    <add key ="MyNum" value="0"/>
  </appSettings>
</configuration>
