<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="SendPath" value="J:\本社技術部\【技術本部共通】\test\test01.txt"/>
    <add key="ReceivePath" value="J:\本社技術部\【技術本部共通】\test\YYYYtest.txt"/>
    <add key="SettingPath" value="J:\本社技術部\【技術本部共通】\test\Settings.txt"/>
    <add key="WatchDir" value="J:\本社技術部\【技術本部共通】\test"/>
    <add key="CameraPresetPath" value="C:\Users\dd1116\Desktop\presetMoveReg.csv"/>
  </appSettings>
</configuration>
